<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hln.core.mapper.EcoProductMapper">

    <insert id="insert">
        INSERT INTO eco_products (name, description, category, price, stock, created_at,updated_at)
        VALUES (#{name}, #{description}, #{category}, #{price}, #{stock}, #{createdAt},#{updatedAt})
    </insert>
    <select id="selectById" resultType="com.hln.core.pojo.EcoProducts">
        select * from eco_products where id = #{id}
    </select>

</mapper>